.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.largeSelect {
  min-height: 300px;
}

.largeSelect option {
  padding: 0.5rem;
  cursor: pointer;
}

.largeSelect option:hover {
  background-color: var(--main-color);
  color: white;
}





.button:hover {
  background-color: #45a049;
}

.backlink {
  display: block;
  margin: 2rem auto;
  width: fit-content;
}
