.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.largeSelect {
  min-height: 300px;
}

.largeSelect option {
  padding: 0.5rem;
  cursor: pointer;
}

.largeSelect option:hover {
  background-color: var(--main-color);
  color: white;
}





.button:hover {
  background-color: #45a049;
}

.backlink {
  display: block;
  margin: 2rem auto;
  width: fit-content;
}
