.selectPrzewagi {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.col {
    flex: 1;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
    min-height: 400px;
    max-height: 600px;
    overflow: scroll;
}

.colTitle {
    margin-bottom: 1rem;
}

.przewagaItem {
    cursor: pointer;
    padding: 0.2rem;
    margin: 0.2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.przewagaItem:hover {
    background-color: var(--main-color);
    color: white;
}