.selectPrzewagi {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.col {
    flex: 1;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
    min-height: 400px;
}

.colTitle {
    margin-bottom: 1rem;
}

.przewagaItem {
    cursor: pointer;
    padding: 0.2rem;
    margin: 0.2rem auto;
}

.przewagaItem:hover {
    background-color: var(--main-color);
    color: white;
}