
  .list {
    list-style-type: none;
    padding: 0;

  }
  
  .listItem {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .listItem button {
    display: none;
    cursor: pointer;
  }

  .listItem:hover button {
    display: block;
  }
  
  .noFeatures {
    text-align: center;
    color: #888;
  }
  
  .formContainer {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  .label {
    display: bl
  }  